<div class="card">
    <div class="heading">
        <span>Création de Miahoot</span>
    </div>
    <form #miahootForm="ngForm" (ngSubmit)="postMiahoot(miahootForm)">
        <label for="nom">Nom du Miahoot</label>
        <br>
        <input type="text" name="nameMia" placeholder="nom du miahoot" ngModel ngDefaultControl />
        <br>
        <label for="description">Description du Miahoot</label>
        <br>
        <input type="text" name="descriptionMia" placeholder="description du miahoot" ngModel ngDefaultControl />
        <br>
        <button class="button-19" type="submit">Créer</button>
    </form>
</div>
