<div class="conteneur">
    <div class="box">
      <app-recherche-mia></app-recherche-mia>
    </div>
    <div class="box">
    
    <div class="conteneur2">
      <div class="box">
        <button class="button-19"
                id="MC"
                (click)="this.router.toAccountConfig()">Compte</button>
      </div>
      <div class="box">
        <button class="button-19"
                id="MC"
                (click)="this.router.toMiahootEditing()">Edition Miahoot (offi)</button>
      <div class="box">
        <button class="button-19"
                id="MC"
                (click)="this.router.toEditing()">Edition Miahoot (dev)</button>
      </div>
      <div class="box">
        <button class="button-19"
                id="deco"
               (click)="logout()">Déconnexion</button>
      </div>
    </div>
  </div>
</div>