<div class="conteneur">    
    <app-recherche-mia></app-recherche-mia>
    <div class="box" [class.hide]="this.disconnected">
        <button class="button-19"
                id="MC"
                (click)="this.router.toAccountConfig()">Mon Compte</button>
        <button class="button-19"
                id="MC"
                (click)="this.router.toPresentations()">Mes Miahoots</button>
        <button class="button-19"
                id="deco"
                (click)="logout()">Déconnexion</button>
    </div>
</div>