.box {
    display: flex;
    flex-direction: column;
    grid-column: 2/3;
    margin-left: 40px;
}

#pos{
  position: absolute;
  top: 15%;
  left: 15%;
}
.conteneur {
    top: 30%;
    left: 10%;
    display: grid;
    justify-content: center;
    grid-template-columns:  20% 20%;
    grid-template-rows:  50%;

    /* grid */
    display: grid;
    grid-template-columns: 1fr auto;    
}
  
.conteneur2 {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 30%;
    left: 10%;
    display: grid;
    justify-content: center;
    grid-template-columns:  20%;
    grid-template-rows:  20% 20% 20% 20%;
}

#MC{
    margin-bottom: 30px;
}

.button-19{
    width: 200px;
}
