#waitingRoom{
    color: white;
    position: absolute;
    transform: translate(-50%,-50%);
    left:50%;
    top:50%;
    box-sizing: border-box;
    background: linear-gradient(-45deg,#29abf7, #1e7db4,#29abf7, #1e7db4);
    animation: gradient 5s ease infinite;
    background-size: 500% 500%;
    width: 20%;
    height: 30%;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 20px;
}

@keyframes gradient {
    0% {
      background-position: 0 50%;
      box-shadow: 0px 0px 2px #ffffff,
        0px 0px 5px #ffffff,
        0px 0px 10px #6bc5f8,
        0px 0px 50px #6bc5f8;
    }
  
    50% {
      background-position: 100% 50%;
      box-shadow: 0px 0px 2px #ffffff,
        0px 0px 5px #ffffff,
        0px 0px 10px #30b2fd,
        0px 0px 50px #30b2fd;
    }
  
    100% {
      background-position: 0 50%;
      box-shadow: 0px 0px 2px #ffffff,
            0px 0px 5px #ffffff,
            0px 0px 10px #6bc5f8,
            0px 0px 50px #6bc5f8;
    }
}

h1{
    font-weight: 500;
    font-size: 150%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 1.5em;
    font-weight: 800;
    filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
}