<div *ngIf="this.gs.inGame === true" id="game">
    <div class="changementQuestion">
        <h2>{{idCourant}}</h2>
        <button (click)="this.questionPrecedente()"
                [class.hideQuestion]="this.idCourant<=1">
            question précédente ({{this.idCourant-1}})</button>
        <button (click)="this.questionSuivante()">
            question suivante ({{this.idCourant+1}})</button>
    </div>
    
    <div class="questions"
         *ngFor="let question of listeQuestions;let i = index" >
        <app-question class="question"
                     [questionId]="i+1"
                     [label]="question.label"
                     [reponses]="question.reponses"
                     [class.showQuestion]="i+1 === idCourant"
                     [class.hideQuestion]="i+1 !== idCourant">
        </app-question>
    </div>
</div>

<app-waiting-room *ngIf="this.gs.inGame === false"></app-waiting-room>
