<app-waiting-room *ngIf="this.gs.inGame === false"></app-waiting-room>
<h1>{{this.idQuestionCourante-1}} / {{this.gs.miahootGame.miahoot.listeQuestions.length}}</h1>

<div *ngIf="this.gs.inGame === true">

    <div *ngIf="this.gs.miahootGame.miahoot.listeQuestions">
        <div class="questions" 
            *ngFor="let question of this.gs.miahootGame.miahoot.listeQuestions;let i = index">
            <app-question class="question" 
                        [questionId]="i+1" 
                        [label]="question.label" 
                        [reponses]="question.reponses"
                        [idPresentateur]="this.idPresentateur"
                        [class.hide]="i+1 !== idQuestionCourante"
                        (incrVote)="this.gs.addVote(this.idMiahoot ,i, $event)"
                        (decrVote)="this.gs.delVote(this.idMiahoot, i, $event)">
            </app-question>
        </div>
    </div>
</div>

<div *ngIf="this.gs.inGame === true"
    [class.buttonsContainer]="isPresenting()"
    [class.hide]="!isPresenting()">
    <button (click)="this.questionPrecedente() ; this.hideReponses()"
            [class.button-19]="this.idQuestionCourante > 1"
            [class.hide]="this.idQuestionCourante <= 1">Précédente ({{this.idQuestionCourante-1}})</button>
    <button (click)="this.questionSuivante() ; this.hideReponses()"
            [class.button-19]="this.idQuestionCourante < this.gs.miahootGame.miahoot.listeQuestions.length"
            [class.hide]="this.idQuestionCourante >= this.gs.miahootGame.miahoot.listeQuestions.length">Suivante ({{this.idQuestionCourante+1}})</button>
    <button class="button-19"
            (click)="this.showReponses()">Voir solution</button>
    <button class="button-19"
            (click)="this.togglePopup()"
            [class.hide]="this.idQuestionCourante != this.gs.miahootGame.miahoot.listeQuestions.length-1">Fin de Partie</button>
</div>

<div *ngIf="this.gs.inGame === false && this.idQuestionCourante-1 === this.gs.miahootGame.miahoot.listeQuestions.length"
    class="card">
    <div class="heading">
        <span>Partie terminée !</span>
        <button class="button-19"
                (click)="this.rs.toHome()">
            Retour à l'accueil
        </button>
    </div>
</div>
