:host{
    width: 100%;
    display: block;
}
button{
    width: 100%;
    box-sizing: border-box;
}

.coche{
  color:black;
}

.solution{
  color:green;
  background: green;
}
.faux{
    color:red;
    background: red;
}
