<table class="apiservice">
    <th>Modification des miahoots</th>
    <tr>creation d'un miahoot : POST
        <td>
            <form #miahootForm="ngForm" (ngSubmit)="postMiahoot(miahootForm)">
                <input placeholder="nom d'un miahoot" name="nameMia" ngModel ngDefaultControl>
                <input placeholder="description d'un miahoot" name="descriptionMia" ngModel ngDefaultControl>
                <button type="submit">POST</button>
            </form>
        </td>
    </tr>
    <tr>Renvoie tous les miahoot :
        <td><button (click)="getAllMiahoots()">GET</button></td>
    </tr>

    <tr>Id d'un Miahoot : GET

        <td>
            <input [(ngModel)]="idMia" placeholder="ID d'un Miahoot" />
            <button (click)="getQuestions()" >GET </button>
            <form #questionForm="ngForm" (ngSubmit)="postQuestion(questionForm)">
                <input name="labelQuestion" placeholder="label question" />
                <button type="submit">POST</button>
            </form>
        </td>
    </tr>

    <tr>Renvoie toutes les reponses pour tous les miahoots :
        <td><button (click)="getAllReponses()">GET</button></td>
    </tr>
    <tr>creation d'une reponse : POST

        <td>
            <form #reponseForm="ngForm" (ngSubmit)="postReponse(reponseForm)">
                <input type="number" name="idRep" placeholder="id de la question" ngModel ngDefaultControl />
                <input type="text" name="labelReponse" placeholder="label de la reponse" ngModel ngDefaultControl />
                <input type="text" name="estValide" placeholder="vrai ou faux" ngModel ngDefaultControl />
                <button type="submit">POST</button>
            </form>
        </td>

    </tr>
</table>