<div id="testAPI">
    Tests Miahoot
    <button (click)="getAllMiahoot()">GET</button>
    <br/><br/> 
    <br/><br/>
    <input placeholder="nom d'un miahoot" [(ngModel)] ="nameMia">
    <input placeholder="description d'un miahoot" [(ngModel)] = "descriptionMia">
    <button (click)="postMiahoot()">POST</button>
    <br/><br/>
    <br/><br/> 
    Id d'un Miahoot
    <input [(ngModel)]="idMiahoot" placeholder="ID d'un Miahoot"/>
    <button (click)="getQuestions()">GET : renvoie toutes les questions d'un miahoot</button>
    <input [(ngModel)]="labelQuestion" placeholder="label question"/>
    <button (click)="postQuestion()">POST</button>

    <br/><br/>
    <br/><br/>
    Tests Réponse
    <input type="text" [(ngModel)]="idReponse" />
    <button >GET reponse par ID</button>
    <button>POST</button>

</div>