<div class="toolbar">
  <span>MIAHOOT</span>
</div>
  <!-- <section class="TBButtons" *ngIf="user | async as U; else unlogged">

    <div id="username"> {{U.displayName}} </div>

     <button id="ppButton" [matMenuTriggerFor]="menu"><img id="pp" [src]="U.photoURL" /></button> 

    <mat-menu #menu="matMenu">
      <button mat-menu-item>Mon compte</button>
      <button mat-menu-item>Déconnexion</button>
    </mat-menu>
  </section>

  <ng-template #unlogged>
    <button mat-stroked-button (click)="login()">Connexion</button>
  </ng-template>
</div>

<section *ngIf="bsAuth | async" id="logProgress">
  <mat-spinner></mat-spinner>
  <p>Connexion en cours...</p>
</section> -->
