<div class="toolbar">
   <img id="logo" (click)="toHome()" src="https://fontmeme.com/permalink/230426/9a2dc2344db7b8bbcdc132813937cecc.png"/>

  <section class="TBButtons" *ngIf="user | async as U; else unlogged">

    <div id="username"> {{U.displayName}} </div>

   <div id="button-wrapper">
      <button id="menu" [matMenuTriggerFor]="menu"><img id="pp"  [src]="U.photoURL" /></button>
   </div>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="toAccountConfig()">Mon compte</button>
      <button mat-menu-item (click)="toMiahootResearch()">Recherche de parties</button>
      <button mat-menu-item (click)="logout()">Déconnexion</button>
    </mat-menu>
  </section>

  <ng-template #unlogged class="ngtp">
    <div class="connectB">
      <button (click)="login()">Connexion</button> 
    </div>
  </ng-template>

  

</div>

 <section *ngIf="bsAuth | async" id="logProgress">
  <mat-spinner></mat-spinner>
  <p>Connexion en cours...</p>
</section> 



<br/>
<br/>
<br/>
<br/>
<br/>


<section *ngIf="user | async as U; else unlogged">
<p> {{user}} </p>
</section>

<router-outlet></router-outlet>

