.toolbar{
    box-shadow: 0px 7px 15px 5px rgba(143,143,143,0.58);
    padding: 10px 0px;
    top: 0;
    position: absolute;
    width: 100%;
    height: 8%;
    background: linear-gradient(-45deg,#6bc5f8, #30b2fd,#6bc5f8, #30b2fd);
    background-color: #30b2fd;
    color: aliceblue;
    display: flex;
    align-items: center;
}

span{
    font-size: 1.5rem;
    margin: 0 10px;
    }

.TBButtons{
    margin-left: auto;
    margin-right: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo{
    width: 16%;
    margin: 2%;
    filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
    animation: flickering 4s linear infinite both;
}

@keyframes flickering {
    0%,
    100% {
      opacity: 1;
    }
  
    41.99% {
      opacity: 1;
    }
  
    42% {
      opacity: 0;
    }
  
    43% {
      opacity: 0;
    }
  
    43.01% {
      opacity: 1;
    }
  
    47.99% {
      opacity: 1;
    }
  
    48% {
      opacity: 0;
    }
  
    49% {
      opacity: 0;
    }
  
    49.01% {
      opacity: 1;
    }
  }

#username{
    height: max-content;
    font-size: 1.1rem;
    font-weight: 500;
}

#logProgress{
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

mat-spinner{
    margin: 0 auto;
} 

#pp{
    width: 50px;
    height: 50px;
    border-radius: 70%;
    margin-right: 10px;
    margin-left: 10px
}

#menu, .connectB button{
    background-color: rgba(143,143,143,0);
    border: none;
}

#menu img, .connectB button{
    cursor: pointer;
}

.ngtp{
    position: absolute;
    right: 0;
}

.connectB{
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    margin-right: 2%;
    width: 5%;
    height: 25%;
    text-align: center;
    background-color: aliceblue;
    color: black;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 500;
    right: 0;
    left: auto;
    position: absolute;
}


