.toolbar{
    box-shadow: 0px 7px 15px 5px rgba(143,143,143,0.58);
    padding: 10px 0px;
    top: 0;
    position: absolute;
    width: 100%;
    height: 6%;
    background: linear-gradient(125deg, #ECFCFF 0%, #ECFCFF 40%, #B2FCFF calc(40% + 1px), #B2FCFF 60%, #5EDFFF calc(60% + 1px), #5EDFFF 72%, #3E64FF calc(72% + 1px), #3E64FF 100%);
    background-color: #005ee1;
    color: aliceblue;
    display: flex;
    align-items: center;
}

#logo{
    width: 200px;
    height: 38px;
    margin-left: 20px;
    margin-right: 10px;
    cursor: pointer;
}

span{
    font-size: 1.5rem;
    margin: 0 10px;
    /* top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); */
}

 .TBButtons{
    margin-left: auto;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#username{
    /* margin-right: 5px; */
    height: max-content;
    font-size: 1.1rem;
    font-weight: 500;
}

#logProgress{
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

mat-spinner{
    margin: 0 auto;
} 

#pp{
    width: 50px;
    height: 50px;
    border-radius: 70%;
    margin-right: 10px;
    margin-left: 10px
}

#menu{
    background-color: rgba(143,143,143,0);
    border: none;
}

#menu img{
    cursor: pointer;
}
