.card {
width: 100%;

}

.conteneur{
  display: flex;
  justify-content: center;
}

.heading {
  color: white;
  font-weight: 25%;
  font-size: 150%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10%;
}

.propositions {
  display: grid;
  grid-template-columns:  1fr 1fr;
  gap: 40px;
  place-items: stretch;

  min-width: 80%;
}

.propositions > *{
    min-width: 30%;
  }