.card {
    position: absolute;
    transform: translate(-50%,-50%);
    left:50%;
    top:50%;
    box-sizing: border-box;
    background: linear-gradient(-45deg,#6bc5f8, #29abf7,#6bc5f8, #29abf7);
    animation: gradient 5s ease infinite;
    background-size: 500% 500%;
    width: 40%;
    height: max-content;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    flex-direction: column;
    padding: 2%;
    border-radius: 20px;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0 50%;
      box-shadow: 0px 0px 2px #ffffff,
        0px 0px 5px #ffffff,
        0px 0px 10px #6bc5f8,
        0px 0px 50px #6bc5f8;
    }
  
    50% {
      background-position: 100% 50%;
      box-shadow: 0px 0px 2px #ffffff,
        0px 0px 5px #ffffff,
        0px 0px 10px #29abf7,
        0px 0px 50px #29abf7;
    }
  
    100% {
      background-position: 0 50%;
      box-shadow: 0px 0px 2px #ffffff,
            0px 0px 5px #ffffff,
            0px 0px 10px #6bc5f8,
            0px 0px 50px #6bc5f8;
    }
  }

  .heading {
    color: white;
    font-weight: 25%;
    font-size: 150%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10%;
  }

  .propositions {
    background-color: white;
    padding: 2%;
    border-radius: 10px;
    max-height: 200px;
    overflow: scroll;
  }

  p{
    margin-top: 5%;
    margin-bottom: 5%;
  }