<div class="card">
    <h1 class="heading"><span>Miahoots</span></h1>
    <div class="presentations">
        <input type="text" 
        placeholder="Recherche par description" 
        autofocus (keyup.enter)="newListByLabel()"
        [(ngModel)]="labelRecherche">
        <div *ngFor="let presentation of this.resultatRecherche" class="presContainer">
            <h2 class="titre">{{ presentation.nom }} <span><br/>Code PIN: {{presentation.id}}</span></h2>
            <h4 class="description">{{ presentation.description }}</h4>
            <!-- <h5 class="heading">Code PIN: {{ presentation.id }}</h5> -->
            <button class="button-19" (click)="this.router.toCreateMiahoot(presentation.id)">Editer</button>
            <button class="button-19" (click)="this.game.addMiahootPresente(presentation.id, this.idUserFB); this.router.toMiahoot(presentation.id)">Présenter</button>
        </div>
        <button class="button-19" (click)="this.router.toNewMiahoot()">Créer un nouveau Miahoot</button>
    </div>
</div>
