<div class="card">
    <h1 class="heading"><span>Miahoots</span></h1>
    <div *ngFor="let presentation of this.listePresentations" class="presContainer">
        <div class="separator"></div>
        <h3 class="heading">{{ presentation.nom }}</h3>
        <h4 class="heading">{{ presentation.description }}</h4>
        <h5 class="heading">Code PIN: {{ presentation.id }}</h5>
        <div class="buttonContainer">
            <button class="button-19" (click)="this.ms.addMiahootPresente(presentation.id)">Présenter</button>
        </div>
        <div class="separator"></div>
    </div>
</div>
